<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

</head>
<body>
	<form method="post" autocomplete="off" th:action="@{/login}" >
		<main>
			<center>
				<font size="5">indexindexindex</font>
			</center>
			<br>
			<div class="center">
				<font size="2"><p1>ユーザーID</p1></font><br /> <input type="text"
					size="50" name="useid" required><br /> <font size="2"><p2>パスワード</p2></font><br />
				<input type="password" size="50" name="password" required><br /> <label>
					<input type="checkbox" name="Cookie" value="login_data"
					style="width: 14px; height: 14px;"> <font size="2">ログイン情報を保持する</font>
				</label>
			</div>
			<br />
			<center>
				<input type="submit" value="ログイン" style="width: 150px; height: 50px">
			</center>
			<center>
				<font size="1"><p1>ユーザーID|パスワードを忘れた方</p1></font>
			</center>
			<hr color="#000000" width="60%" size="3">
		</main>
		<footer>
			<center>
				<font size="2"><p3>はじめての方はこちら</p3></font>
			</center>
			<br />
			<center>
				<input type="submit" value="新規登録" style="width: 150px; height: 50px">
			</center>
			<br>
			<center>
				<font size="1"><p1>会社概要|利用規約|プライバシーポリシー|サービスガイド|お問い合わせ</p1></font>
			</center>
		</footer>
	</form>
</body>
</html>