<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン完了 | ユーズドカー.jp</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
</head>
<body>
	<header>
		<div>
			<h1>ログイン完了</h1>
		</div>
	</header>
	<main style="height: 50rem;">
		<div>
			<a th:href="@{/}"><h3>ホーム画面へ戻る</h3></a>
		</div>
	</main>
   	<footer>
   		<div>
			<p style="text-align: center;">&copy;2022 betelgeuse Inc. All Rights Reserved.</p>
		</div>
   	</footer>
</body>
</html>